
.banner {
	@extend %flex-center-center;
    height: 223px;
	max-width: 1240px;
	width: calc(100vw - 40px);
	margin: 23px 40px;
	border-radius: 25px;
	background-position: 25% 50%;
	background-size: cover;
	>p {
		margin: 78px 0 77px;
		font-family: $font-family_1_sf;
		font-style: normal;
		font-weight: 500;
		font-size: 48px;
		line-height: 68px;
		color: $color_white;
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	.banner {
		margin: 8px 20px 2px;
		height: 111px;
		justify-content: flex-start !important;
		>p {
			max-width: 217px;
			width: 100%;
			font-weight: 500;
			font-size: 24px;
			line-height: 100%;
			margin: 0 0 0 16px;
			text-align: left;
		}
	}
}
