
.header {
	@extend %flex-row-spb-center;
    height: 68px;
	max-width: 1320px;
	width: 100%;
	margin: 40px 0;
	padding: 0 40px;
}
@media screen and (max-width: 500px) {
	.header {
		margin: 20px 20px 8px;
		padding: 0 20px;
		height: 47px;
		>img {
			height: 47px;
			width: auto;
		}
	}
}
