
.tag {
	@extend %flex-center-center;
    min-width: 115px;
	height: 25px;
	background: #FF6060;
	border-radius: 10px;
	margin: 2px 5px 2px 0;
	>p {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: $color_white;
		padding: 0 10px;
	}
}
