$font-family_1: 'Montserrat';
$font-family_1_sf: 'Montserrat', sans-serif;
$font-family_2: 'Courier New', Courier, monospace;
$color_white: #FFFFFF;
$color_white_grey: #F6F6F6;
$color_orange: #FF6060;
$background-color_orange: #FF6060;
$background-color_white_grey: #F6F6F6;
$background-color_black: #000000;
$background-color_unset: unset;